<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marveldle - Guess the Hero!</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Marveldle - Guess the Hero!</h1>

<div *ngIf="correctCharacter" class="character-box">

  <h1>Charakter Eingeben!</h1>

  <input
    [(ngModel)]="userGuess"
    (input)="filterSuggestions()"
    (keydown)="onKeyDown($event)"
    placeholder="Enter character name..."
    class="input-box"
  />
  <button (click)="checkGuess()" class="button button-submit">Submit</button>
  <ul *ngIf="suggestions.length > 0" class="autocomplete-list">
    <li
      *ngFor="let suggestion of suggestions; let i = index"
      (click)="selectSuggestion(suggestion)"
      [class.active]="i === highlightedIndex"
    >
      {{ suggestion.name }}
    </li>
  </ul>


  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <table *ngIf="charactersGuess.length > 0" class="character-table">
    <thead>
    <tr>
      <th> Name</th>
      <th> Geschlecht</th>
      <th> Spezies</th>
      <th> Team</th>
      <th> Herkunft</th>
      <th> Jahr</th>
      <th> Seite</th>
      <th> Fähigkeit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guessedCharacter of charactersGuess">
      <td [ngClass]="getCellClass(guessedCharacter.name, 0)">
        {{ guessedCharacter.name }}
      </td>
      <td [ngClass]="getCellClass(guessedCharacter.name, 1)">
        {{ guessedCharacter.geschlecht }}
      </td>
      <td [ngClass]="getCellClass(guessedCharacter.name, 2)">
        {{ guessedCharacter.spezies }}
      </td>
      <td [ngClass]="getCellClass(guessedCharacter.name, 3)">
        {{ guessedCharacter.team }}
      </td>
      <td [ngClass]="getCellClass(guessedCharacter.name, 4)">
        {{ guessedCharacter.herkunft }}
      </td>
      <td [ngClass]="getCellClass(guessedCharacter.name, 5)">
        {{ guessedCharacter.jahr }}
      </td>
      <td [ngClass]="getCellClass(guessedCharacter.name, 7)">
        {{ guessedCharacter.seite }}
      </td>
      <td [ngClass]="getCellClass(guessedCharacter.name, 7)">
        {{ guessedCharacter.faehigkeit }}
      </td>
    </tr>
    </tbody>
  </table>



  <p *ngIf="isCorrect !== false" class="result">
    <span *ngIf="isCorrect" class="correct">✅ Correct! It's {{ correctCharacter.name }}!</span>
    <button (click)="restartGame()" class="button button-submit">Restart</button>
    <button (click)="openExportModal()" class="button button-submit">Export</button>

    <app-export
      *ngIf="showExportModal"
      [exportData]="dataToExport"
      (closeModal)="closeExportModal()"
      (submitExport)="handleExportSubmit($event)"
    ></app-export>


  </p>
</div>
</body>
</html>
